<div *ngIf="this.doorSelected" id="order-popup">
  <div id="door-info">
    <p id="name">{{ curDoor!.name }} Door</p>
    <img src="{{ curDoor.photo }}" alt="" />
    <p id="price">From ${{ curDoor.price | number : "2.0-1" }}</p>
  </div>
  <div id="order-area">
    <div id="button-div">
      <div id="order-form-button" (click)="showOrderForm()"><p>Order</p></div>
      <div id="exit-button" routerLink="/products"></div>
    </div>
    <!-- <p>{{ orderForm.value | json }}</p> -->
    <div *ngIf="isShowOrder" id="order-form">
      <form
        class="max-w-md mx-auto"
        [formGroup]="orderForm"
        (ngsubmit)="addOrder()"
      >
        <div class="relative z-0 w-full mb-1 group text-white font-bold">
          <p class="inline">Type:&nbsp;</p>
          <p class="inline font-medium">{{ curDoor.name }}</p>
        </div>
        <div class="relative z-0 w-full mb-1 group text-white font-bold">
          <p class="inline">Price:&nbsp;</p>
          <p class="inline font-medium">
            ${{ curDoor.price | number : "2.0-1" }}
          </p>
        </div>
        <div class="relative z-0 w-full mb-1 group text-white font-bold">
          Door Size

          <fieldset class="flex flex-wrap flex-row">
            <div
              class="flex items-center mb-1 w-24"
              *ngFor="let door of doorSizes"
            >
              <input
                id="door-size-option"
                type="radio"
                value="{{ door }}"
                name="size"
                formControlName="size"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                checked
              />
              <label class="block ms-2 text-white font-medium" id="test">
                {{ door }}
              </label>
            </div>
          </fieldset>
        </div>

        <div class="relative z-0 w-full mb-1 group text-white font-bold">
          Opening Mechanism
          <fieldset class="flex flex-wrap flex-row">
            <div
              class="flex items-center mb-1 w-24"
              *ngFor="let opener of openingMechanisms"
            >
              <input
                id="opener-option"
                type="radio"
                value="{{ opener }}"
                name="openingMech"
                formControlName="openingMech"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                checked
              />
              <label class="block ms-2 text-white font-medium" id="test">
                {{ opener }}
              </label>
            </div>
          </fieldset>
        </div>
        <div class="relative z-0 w-full mb-1 group text-white font-bold">
          Wood Type
          <fieldset class="flex flex-wrap flex-row">
            <div
              class="flex items-center mb-1 w-24"
              *ngFor="let wood of woodTypes"
            >
              <input
                id="wood-option"
                type="radio"
                value="{{ wood }}"
                name="woodType"
                formControlName="woodType"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                checked
              />
              <label class="block ms-2 text-white font-medium" id="test">
                {{ wood }}
              </label>
            </div>
          </fieldset>
        </div>
        <div class="relative z-0 w-full mb-1 group text-white font-bold">
          Painted?
          <fieldset class="flex flex-wrap flex-row">
            <div class="flex items-center mb-1 w-24" *ngFor="let option of YN">
              <input
                id="painted-option"
                type="radio"
                value="{{ option }}"
                name="painted"
                formControlName="painted"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                checked
              />
              <label class="block ms-2 text-white font-medium" id="test">
                {{ option }}
              </label>
            </div>
          </fieldset>
        </div>

        <div class="relative z-0 w-full mb-2 group border-b-2 border-white-900">
          <input
            name="address"
            id="address"
            formControlName="address"
            class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-white font-bold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Address</label
          >
        </div>
        <div class="relative z-0 w-full mb-2 group border-b-2 border-white-900">
          <input
            name="city"
            id="city"
            formControlName="city"
            class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-white font-bold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >City</label
          >
        </div>
        <div class="relative z-0 w-full mb-2 group border-b-2 border-white-900">
          <input
            name="state"
            id="state"
            formControlName="state"
            class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-white font-bold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >State</label
          >
        </div>
        <div class="relative z-0 w-full mb-2 group border-b-2 border-white-900">
          <input
            name="country"
            id="country"
            formControlName="country"
            class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-white font-bold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Country</label
          >
        </div>
        <div class="relative z-0 w-full mb-2 group border-b-2 border-white-900">
          <input
            name="zip"
            id="zip"
            formControlName="zipcode"
            class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-white font-bold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Zipcode</label
          >
        </div>
        <button
          type="submit"
          class="text-white bg-#000000-700 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 border-2 rounded-md border-white-900 border-solid hover:scale-105"
          (click)="addOrder()"
        >
          Submit
        </button>
      </form>
    </div>
    <div>
      <p *ngIf="orderPlaced" class="text-white font-bold text-center">
        Order Successfully Placed
      </p>
    </div>
  </div>
</div>
