<div id="top">
  <nav id="title" routerLink="">{{ title }}</nav>
  <div [ngSwitch]="mobile">
    <div *ngSwitchCase="true" class="menu-container">
      <div id="upper-menu" (click)="flipMenu()">
        <div id="filler"></div>
        <div id="menu-toggler"></div>
      </div>
      <div
        *ngIf="menuVisible"
        class="menu-dropdown"
        aria-labelledby="dropdownMenuButton1"
      >
        <div>
          <a class="dropdown-item" routerLink="products" (click)="flipMenu()"
            >Products</a
          >
        </div>
        <hr />
        <div>
          <a class="dropdown-item" routerLink="gallery" (click)="flipMenu()"
            >Gallery</a
          >
        </div>
        <hr />
        <div>
          <a class="dropdown-item" routerLink="about" (click)="flipMenu()"
            >About Us</a
          >
        </div>
        <hr />
        <div>
          <a class="dropdown-item" routerLink="calculator" (click)="flipMenu()"
            >Barn Door Calculator</a
          >
        </div>
        <hr />
        <div>
          <a class="dropdown-item" routerLink="reviews" (click)="flipMenu()"
            >Reviews</a
          >
        </div>
        <hr />
        <div>
          <a class="dropdown-item" routerLink="login" (click)="flipMenu()"
            >Signup/Login</a
          >
        </div>
      </div>
    </div>
    <div *ngSwitchDefault class="horizontal-menu">
      <div>
        <nav
          class="top-menu-item"
          routerLink="products"
          routerLinkActive="active"
        >
          Products
        </nav>
      </div>
      <div>
        <nav
          class="top-menu-item"
          routerLink="gallery"
          routerLinkActive="active"
        >
          Gallery
        </nav>
      </div>
      <div>
        <nav class="top-menu-item" routerLink="about" routerLinkActive="active">
          About Us
        </nav>
      </div>
      <div>
        <nav
          class="top-menu-item"
          routerLink="calculator"
          routerLinkActive="active"
        >
          Barn Door Calculator
        </nav>
      </div>
      <div>
        <nav
          class="top-menu-item"
          routerLink="reviews"
          routerLinkActive="active"
        >
          Reviews
        </nav>
      </div>
      <div>
        <nav class="top-menu-item" routerLink="login" routerLinkActive="active">
          Signup/Login
        </nav>
      </div>
    </div>
  </div>
</div>
