#main-container {
  background-color: rgb(34, 34, 34);
  min-width: 825px;
  min-height: 100vh;
  max-width: 2000px;
  overflow: hidden;
  margin: auto;
}

#title-name {
  color: #af4444;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

#slogan {
  color: #e56666;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  width: 75%;
  display: inline;
  font-weight: bolder;
}

#upper {
  background-color: rgb(184, 190, 197);
  width: 50%;
  margin: auto;
  padding: 20px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border: black;
  border-width: 2px;
  border-style: solid;
}

#learn-more {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#learn-more-text {
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  height: 50px;
  width: 25%;
  margin: 10px;
  color: #af4444;
  font-size: 20px;
  text-align: center;
  display: inline;
  padding: 5px;
}

#services-container {
  margin: auto;
  width: 80%;
  max-width: 1250px;
  height: 650px;
  background-color: rgb(184, 190, 197);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  border-radius: 5px;
}

.service {
  height: 40%;
  width: 30%;
  background-color: white;
  margin: 10px;
}

.service:hover {
  transform: scale(1.05);
  opacity: 0.9;
  cursor: pointer;
}

#barn-door-photo {
  background-image: url("../../assets/barndoor.png");
}

#camera-photo {
  background-image: url("../../assets/camera.png");
}

#information-photo {
  background-image: url("../../assets/info.png");
}

#calc-photo {
  background-image: url("../../assets/calc.png");
}

#star-photo {
  background-image: url("../../assets/star.png");
}

.photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 200px;
  margin: auto;
}

.service-name {
  font-size: 25px;
  color: #e56666;
  text-align: center;
  padding: 5px;
  padding-bottom: 0px;
  font-weight: bold;
}

@media (max-width: 850px) {
  #main-container {
    min-width: 400px;
  }
  .service {
    width: 60%;
    height: 300px;
  }
  #services-container {
    height: 1700px;
    min-width: 450px;
  }
  #learn-more-text {
    font-size: 16px;
    font-weight: bold;
  }
}
