<div id="main-container">
  <div id="upper">
    <h1 id="title-name">{{ titleName }}</h1>
  </div>
  <div id="services-container">
    <div id="learn-more">
      <p id="learn-more-text">Learn more!</p>
      <h2 id="slogan">We'll blow your barn doors off and put new ones on!</h2>
    </div>
    <nav class="service" routerLink="/products">
      <p class="service-name">Products</p>
      <div id="barn-door-photo" class="photo"></div>
    </nav>
    <nav class="service" routerLink="/gallery">
      <p class="service-name">Gallery</p>
      <div id="camera-photo" class="photo"></div>
    </nav>
    <nav class="service" routerLink="/about">
      <p class="service-name">About</p>
      <div id="information-photo" class="photo"></div>
    </nav>
    <nav class="service" routerLink="/calculator">
      <p class="service-name">Barn Door Calculator</p>
      <div id="calc-photo" class="photo"></div>
    </nav>
    <nav class="service" routerLink="/reviews">
      <p class="service-name">Reviews</p>
      <div id="star-photo" class="photo"></div>
    </nav>
  </div>
</div>
